<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<!--  TestNG Executing Parallel Tests Example -->
<!-- http://howtodoinjava.com/testng/testng-executing-parallel-tests/  -->
<suite name="RunAll Test" parallel="tests" thread-count="2">
<listeners>
<listener class-name="com.appium.testng.listeners.DriverListener"></listener>
</listeners>
	<test name="Test-Nexus">
		<parameter name="appName_" value="dummy_Android_1" />
		<classes>
			<class name="com.appium.seleniumgrid.parallel.poc.test_classes.AppiumParallelTest"/>
			<!--  <class name="com.appium.seleniumgrid.parallel.poc.test_classes.AppiumParallelTestClass2"/> -->
		</classes>
	</test>
	
	<test name="Test-Samsung">
		<parameter name="appName_" value="dummy_Android_2" />
		<classes>
			<!--  <class name="com.appium.seleniumgrid.parallel.poc.test_classes.AppiumParallelTest"/> -->
			<class name="com.appium.seleniumgrid.parallel.poc.test_classes.AppiumParallelTestClass2"/>
		</classes>
	</test>
	
</suite>